body { background: ; margin: 0; padding: 0 0 0 100px;   font-size: large; }

h1, h2, h3, h4, h5, h6 { font-family: sans-serif; }
h6 { float: right; font-family: sans-serif; }
#movie { font-family: serif; width: 900px; margin: 1em auto; border: 2px solid #ccc; -moz-border-radius: 10px;  -webkit-border-radius: 10px; overflow:auto; } 
.line { overflow:auto;  }
.source a, .target a{ text-decoration: none; color: black; }
.source a:hover, .target a:hover { cursor: pointer; }
.source, .target { width: 45%; padding: 4px; }
.source { float: left;  text-align: right; border-right: 1px solid #666; }
.target { float: right; display: none; }

#player { width: 475px; float: right;  }
